.main-page{
  .nav-menu{
    display:flex;
    flex-direction: space-;
    background-color: violet;
    height: 100px;
    justify-content: space-between;
    .nav-bar{
      display:flex;
    }
  }
  .personal-info {
    background-color: gray;
    height: 500px;
  }
  .grid-wrapper {
    width: 100%;
    display: grid;
    background-color: blue;
    height: 500px;
  }
  .contact-info{
    background-color: green;
    height: 500px;
  }
}

